* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
}

h1 {
    text-align: center;
    margin: 20px 0 20px 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

#board {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 2px solid black;
    width: 630px;
    background-color: blue;
}

ul {
    display: grid;
    place-items: center;
}

ul li {
    margin: 5px;
    width: 75px;
    height: 75px;
    border: 2px solid black;
    border-radius: 50px;
    background-color: white;
}

/* media queries */
@media(max-width:520px){
    #board {
        width: 400px;
    }
    ul li {
        width: 40px;
        height: 40px;
    }
}

@media(max-width:420px){
    #board {
        width: 320px;
    }
    ul li {
        width: 30px;
        height: 30px;
    }
}